@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
  font-family: 'Poppins', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}
body{
  background-color: #EBECEE;  
}
.button{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-check-input{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  border-color: rgb(176, 164, 164);
}
